/* Стили для шапки */
header {
    background-color: #000000; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Отступы внутри шапки */
}

/* Стили для основного заголовка */
h1 {
    margin: 0; /* Убираем отступы сверху и снизу */
}

/* Стили для раздела "Обо мне" */
#about-me {
    border-bottom: 2px solid #ccc; /* Граница снизу, толщина 2 пикселя, серого цвета */
    padding-bottom: 20px; /* Добавим отступ снизу для раздела */
    background-color: #f0f0f0; /* Цвет фона */
}

/* Стили для разделов сайта */
section, aside {
    padding: 20px; /* Отступы внутри разделов */
}

/* Стили для ссылок на соцсети */
#social-links {
	background-color: #f0f0f0; /* Цвет фона */
    border-bottom: 2px solid #ccc; /* Граница снизу, толщина 2 пикселя, серого цвета */
    padding-bottom: 20px; /* Добавим отступ снизу для раздела */
}

/* Стили для раздела "Проекты" */
#projects {
	background-color: #f0f0f0; /* Цвет фона */
    border-bottom: 2px solid #ccc; /* Граница снизу, толщина 2 пикселя, серого цвета */
    padding-bottom: 20px; /* Добавим отступ снизу для раздела */
}

/* Стили для раздела "Опыт работы" */
#experience {
	background-color: #f0f0f0; /* Цвет фона */
    border-bottom: 2px solid #ccc; /* Граница снизу, толщина 2 пикселя, серого цвета */
    padding-bottom: 20px; /* Добавим отступ снизу для раздела */
}

/* Стили для раздела "Блог" */
#blog {
	background-color: #f0f0f0; /* Цвет фона */
    border-bottom: 2px solid #ccc; /* Граница снизу, толщина 2 пикселя, серого цвета */
    padding-bottom: 20px; /* Добавим отступ снизу для раздела */
}
	
#social-links ul li {
    margin-bottom: 10px; /* Отступ между ссылками */
}

/* Стили для ссылок */
a {
    color: #007bff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчёркивание у ссылок */
}

a:hover {
    text-decoration: underline; /* Подчёркиваем ссылку при наведении */
}

/* Обертка страницы для центрирования */
.wrapper {
    max-width: 800px; /* Максимальная ширина контента */
    margin: 0 auto; /* Автоматическое выравнивание по центру */
    padding: 0 20px; /* Добавим отступы слева и справа для красоты */
	position: relative; /* Установим позиционирование */
}

/*-------------------------------------------------------------------------------*/

/* Добавляем стили для мобильных устройств */
@media screen and (max-width: 600px) {
    .wrapper {
        padding: 0 10px; /* Уменьшаем отступы слева и справа для мобильных устройств */
    }
}


